body {
    background-color: grey;
}

.icon {
    cursor: pointer;
    width: 1.2rem;
    height: 1.2rem;
}

.icon:hover {
    fill: rgb(43, 42, 42);
}

.hide {
    display: none !important;
}

.show {
    display: block;
}

.screen-hider {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#item-form {
    width: max(1vh, 300px);
    background-color: grey;
    border: 1px solid black;
}

.todo-item {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

svg, path {
    pointer-events: none;
}